
@media only screen and (max-width: 800px) and (min-width: 500px) {
    p, h5, h4 {
        font-size: 15pt !important;
    }
}


@media only screen and (max-width: 500px) and (min-width: 300px){
    p, h5, h4 {
        font-size: 20pt !important;
    }
}

@media only screen and (max-width: 300px) and (min-width: 0){
    p, h5, h4 {
        font-size: 30pt !important;
    }
}
